.login-form{
    display: flex;
    flex-direction: column;
/* width: 60%; */
}

.login-form-input{
    height: 20px;
    border-radius: 7px;
    margin-bottom: 20px;
    margin-left: 27px;
}

.login-top-text{

}

.login-modal{
    /* width: 30% */

}

.login-button {
    border-radius: 10px;
    margin-bottom: 2px;
    padding: 5px;
    cursor: pointer;
}

.DemoUser{
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    width: 350px;
}

.login-button:hover {
    background-color: rgba(255, 255, 255, 0.651);
}

.DemoUser:hover {
    background-color: rgba(255, 255, 255, 0.651);
}
