.HomePage-image-container {
  column-count: 4;
  column-gap: 2em;
  padding: 6em;
  /* margin-left: 195px; */

  width: 67%;
}
.HomePage-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 10;
}

.HomePage-pin-container {
  display: inline-block;
  width: 100%;
  /* box-shadow: 0 1px 2px black; */
  cursor: pointer;
  border-radius: 16px;
  margin-bottom: 1em;
  transition: all 0.2s ease-in-out;
}

.HomePage-pin-container:hover {
  transform: scale(1.05);
  /* box-shadow: 0 5px 15px rgba(0,0,0,0.3); */
}

.HomePage-pin-image {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;

}

.HomePage-pin-image img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.HomePage-pin-title {
  padding: 0.5em;
  font-size: 0.9em;
}
