/* TODO Add site wide styles */
html {
    background:
        /* linear-gradient(
            to bottom,
            rgba(61, 5, 5, 0.3),
            rgba(255, 255, 255, 0.3)
        ), */
        url("https://wallpaperaccess.com/full/626893.jpg") ;
        overflow-wrap: break-word;

}


a {
    text-decoration: none;
  }


  select {
    width: 150px;
    overflow-x: auto;
  }


  option {
    width: 20%;
  }
