.SingleBoard-image-container {
  column-count: 4;
  column-gap: 2em;
  padding: 6em;
  margin-left: 195px;
  width: 70%;
  }

.SingleBoard-pin-container {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    border-radius: 16px;
    margin-bottom: 1em;
    transition: all 0.2s ease-in-out;
  }

.SingleBoard-pin-container:hover {
    transform: scale(1.05);

  }

.SingleBoard-pin-image {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }

.SingleBoard-pin-image img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
  }

.DeletePinFromBoardButton {
    margin-top: 10px;
    cursor: pointer;
}

.board-info{
  padding: 15px;
}

.board-info > button {
  margin: 2px;
  border-radius: 5px;
  border: 1px black solid;
  cursor: pointer;

}

.board-info > button:hover{
  background-color: rgb(230, 217, 233);

}

.Update-board-button{
  width: 30%;
  border-radius: 5px;
  border: 1px solid #ada8a888;
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(204, 176, 209);
  color: white;
  margin-top: 10px;
  margin-left: 10PX;
  transition: background-color 1s ease;
}

.Update-board-button:hover{
  background-color: rgb(200, 120, 219);
  color: black;
  border: 1px solid black;
}
