

.Create-new-board-button {
  border: 1px solid rgb(122, 116, 116);
  border-radius: 10px;
  background-color: #f8f9fa;
  color: #495057;
  padding: 5px;
  font-size: 1em;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Create-new-board-button:hover {
    background-color: rgb(218, 187, 224);
}

.Creaete-board.form form input, form textarea, form button{
    display: block;
    margin: 10px 0;
    width: 50%;
}

/* .Creaete-board.form form textarea {
    height: 550px;
} */

.allBoards-details:hover{
  animation: glow 2s ease-in-out infinite;
}
